/* CSS will go here */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'DM Sans', sans-serif;
}

.styled-table thead tr {
  background-color: #6f4e37;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.extra-charges {
    display: flex;
    flex-direction: row;
    gap: 30%
}
.payment-options {
    display: flex;
    flex-direction: row;
    gap: 10%
}
.complete-payment {
    margin-top: 20px;
}