<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {# Tailwind CSS! #}
{#    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='Buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Navbar.css') }}">
</head>
<body>
    <!-- <script>
        function pushNotification(title, body){
            Notification.requestPermission().then(permission => {
                if (permission === 'granted') {
                    const alert = new Notification(title, {body: body});
                    return alert
                } else {
                    console.log('Notification permission denied ..')
                }
            });
        }
    </script> -->
    <nav class="navbar">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
        <button id="grad1">Click me</button>
            <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <div class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li class="services">
                        <a href="/">Services</a>
                        <ul class="dropdown">
                            <li><a href="/" onclick="pushNotification('I love you', 'OMG DoWnload this now!!!!!')">Dropdown 1</a></li>
                            <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 3</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Pricing</a></li>
                    <li><a href="/">Contact</a></li>
                </div>
            </ul>
        </nav>
    {%for user in userlist%}
        <p>User ID: {{user[0]}}, Username: {{user[1]}}</p>
    {%endfor%}
    <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Create an Account!</h1>
    <svg width="0" height="0" style="position:absolute; display:flex;">
        <defs>
            <filter id="realistic-glass">
            <feMorphology in="SourceAlpha" operator="dilate" radius="2" result="alpha-inflated" />
            <feGaussianBlur in="alpha-inflated" stdDeviation="3" result="alpha-blur" />
            <feSpecularLighting in="alpha-blur" surfaceScale="5" specularConstant="1.2" specularExponent="20" lighting-color="#ffffff" result="specular-light">
                <fePointLight x="-500" y="-1000" z="1500" />
            </feSpecularLighting>
            
            <feComposite in="specular-light" in2="SourceGraphic" operator="in" result="specular-map" />
            <feComposite in="SourceGraphic" in2="specular-map" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" />
            </filter>
        </defs>
    </svg>
    <form action="/create_account" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username_input">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password_input">
        <input type="submit" value="Submit">
    </form>
    <button
        style="
        background-image: linear-gradient(to top, #FCFF97, #E0E390);
        width: 285px;
        height: 60px;
        border-color: #E0E39F;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        color: #333333;
        border-radius: 15px;
        "
    >
        Glass Button
    </button>
    
</body>
</html>