<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Buttons.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Buttons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}"/>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Account.css') }}"/>
</head>
<body>
    <div class="signup-wrapper">
      <div class="signup-container">
          <h2>Create an Account</h2>
          <p class="signup-desc">Create an account to save orders, and access exclusive offers!</p>
          <form method="POST">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>

              <label for="password">Password:</label>
              <label>(Password must be at least 6 characters, including numbers and alphabets.)</label>
              <input type="password" id="password" name="password" required>

              <button type="submit" class="glassy-blur-button">Signup</button>
          </form>
          <p>Have an account? <a href="/login" style="color:white;">Login here.</a></p>
          <p><a href="/" style="color:white; text-decoration: none;">➡️ Home</a></p>
          {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
      </div>
    </div>
</body>
</html>

