<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Buttons.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Buttons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}"/>
</head>
<body>
    <nav class="navbar">
      <div class="logo">
        <a href="#">Cozy Cup Corner</a>
      </div>
      <ul class="nav-links">
        <div class="menu">
          <div class="sub-menu1">
            <li><a href="/"><b>Home</b></a></li>
            
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/">Orders</a></li>
          </div>
          <div class="sub-menu2">
            <li><a href="/Signup"><i class="fa-regular fa-user" style="color: #fff; height: 10px; width: 10px;"></i></a></li>
          </div>
        </div>
      </ul>
    </nav>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/menu" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="main-button">Signup</button>
        </form>
        <p>Have an account? <a href="/register">Login Here.</a></p>
    </div>
</body>
</html>

