<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three.js Basic Scene</title>
    <style>
      body {
        margin: 0;
        overflow: hidden;
      }
      canvas {
        display: block;
      }
    </style>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    
    <!-- Link to the Three.js library -->
    <script src="{{ url_for('static', filename='/Scripts/Renderer.js') }}" type="module"></script>
    <!-- Your custom Three.js code -->
  </body>
</html>
